.column-1 {
    background-color: rgba(255,0,0,1);
    color: lightgray;
    text-align: center;
}

.column-2 {
    background-color: rgba(0,255,0,1);
    color: lightgray;
    text-align: center;
}

.column-3 {
    background-color: rgba(0,0,255,1);
    color: lightgray;
    text-align: center;
}

.column-4 {
    background-color: rgba(255,255,0,1);
    color: lightgray;
    text-align: center;
}